
nav
  background: linear-gradient(to bottom,#0A84FF, #0A84FF)
  z-index: 999999
  padding: 5rem 0


.transition-navbar
  transition: transform 0.3s ease-in-out

.navbar-visible
  transform: translateY(0)

.navbar-hidden
  transform: translateY(-100%)

.nav-link
  color: white
  font-weight: bold
  font-size: 1.1rem


// Oculta/mostrar elementos manualmente si no usas clases de Bootstrap por alguna razón
@media (min-width: 900px)
  .d-lg-none
    display: none !important

  .d-lg-flex
    display: flex !important
